# This file specifies files that are *not* uploaded to Google Cloud
# using gcloud. It follows the same syntax as .gitignore, with the addition of
# "#!include" directives (which insert the entries of the given .gitignore-style
# file at that point).
#
# For more information, run:
#   $ gcloud topic gcloudignore
#

# The build will be done locally to reduce the workload in GCP.

# Ignore all files and folders
*

# Include only the necessary production assets: build folder, fonts, package and config files
!build/
!fonts/
!config/
!.env
!package.json
!yarn.lock